<script id="addBakery-template" type="text/x-handlebars-template">
	<div class="modal fade add{{title}}Modal">
 		<div class="modal-dialog">
			<div class="modal-content container-fluid">
				<div class="modal-header row">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title modalh4">Add New {{title}} Item</h4>
				</div><br>
   				<!-- Name Field	//-->
				<div class="mcc-modal-body row">
					<span class="col-xs-3 field"><p class = "mcc-required">*</p>Name:</span>
					<span class=" col-xs-8">
						<input class="new{{title}}NameInput fullWidthInput input" placeholder="name" maxlength="50">
					</span>
				</div>
   				<!-- End Name Field	//-->	

 				<!-- Vendor Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-3 field"><p class = "mcc-required">*</p>Vendor:</span>
					<span class=" col-xs-8">
						<input class="new{{title}}VendorInput fullWidthInput input" placeholder="vendor" maxlength="50">
					</span>
				</div>
   				<!-- End Vendor Field //-->	

 				<!-- Allergen Field	//-->
				<div class="mcc-modal-body row">
					<span class="col-xs-3 field"><p class = "mcc-required">*</p>Allergens:</span>
					<span class=" col-xs-8">
						<input class="new{{title}}AllergenInput fullWidthInput input" placeholder="allergen" maxlength="50">
					</span>
				</div>
   				<!-- End Allergen Field	//-->	
				
 				<!-- Category Field	//-->
				<div class="mcc-modal-body row">
					<span class="col-xs-3 field"><p class = "mcc-required">*</p>Category:</span>
					<span class=" col-xs-8">
						<input class="new{{title}}CategoryInput fullWidthInput input" placeholder="category" maxlength="50">
					</span>
				</div>
   				<!-- End Category Field	//-->	
								
  				<!-- Cost Field	//-->
				<div class="mcc-modal-body row">
					<span class="col-xs-3 field"><p class = "mcc-required">*</p>Cost:</span>
					<span class=" col-xs-8">
						<input class="new{{title}}CostInput fullWidthInput input" placeholder="cost" maxlength="50">
					</span>
				</div>
   				<!-- End Cost Field	//-->	
				<br><br>
   				<div class="modal-footer row">
					<div class = "container-fluid">
						<p class = "mcc-required floatLeft">* Required</p>
						<button type="button" class="mcc-submitButton newBakeryBtn floatRight">Submit New {{title}} Item</button>
						&nbsp;&nbsp;&nbsp;
						<button type="button" class="mcc-cancelButton mcc-cancelAdd{{title}}Button floatRight" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>


<script id="updateBakery-template" type="text/x-handlebars-template">
	<div class="modal fade update{{title}}Modal">
 		<div class="modal-dialog">
			<div class="modal-content container-fluid">
				<div class="modal-header row">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title modalh4">Update {{title}}</h4>
				</div><br>
   				<!-- Name Field	//-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Name:</span>
					<span class=" col-xs-8">
						<input class="update{{title}}NameInput fullWidthInput input" placeholder="name" maxlength="50">
					</span>
				</div>
   				<!-- End Name Field	//-->	

 				<!-- Vendor Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Vendor:</span>
					<span class=" col-xs-8">
						<input class="update{{title}}VendorInput fullWidthInput input" placeholder="vendor" maxlength="50">
					</span>
				</div>
   				<!-- End Vendor Field //-->	

 				<!-- Allergen Field	//-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Allergens:</span>
					<span class=" col-xs-8">
						<input class="update{{title}}AllergenInput fullWidthInput input" placeholder="allergen" maxlength="50">
					</span>
				</div>
   				<!-- End Allergen Field	//-->	
				
 				<!-- Category Field	//-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Category:</span>
					<span class=" col-xs-8">
						<input class="update{{title}}CategoryInput fullWidthInput input" placeholder="category" maxlength="50">
					</span>
				</div>
   				<!-- End Category Field	//-->	
				
				
  				<!-- Cost Field	//-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Cost:</span>
					<span class=" col-xs-8">
						<input class="update{{title}}CostInput fullWidthInput input" placeholder="cost" maxlength="50">
					</span>
				</div>
   				<!-- End Cost Field	//-->	
				<br><br>
   				<div class="modal-footer row">
					<div class = "container-fluid">
						<p class = "mcc-required floatLeft">* Required</p>
						<button type="button" class="mcc-submitButton updateBakeryBtn floatRight">Update {{title}}</button>
						&nbsp;&nbsp;&nbsp;
						<button type="button" class="mcc-cancelButton mcc-cancelAdd{{title}}Button floatRight" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="salesBakery-template" type="text/x-handlebars-template">
<div class="modal fade bakerySalesModal">
 		<div class="modal-dialog">
			<div class="modal-content container-fluid">
				<div class="modal-header row">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title modalh4">Sales Markup</h4>
				</div><br>

			
				<h5 class="sale-title"></h5>

   				<!-- Base Cost //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field">Base Cost:</span>
					<span class=" col-xs-8">
						<span>$</span><span class="bakeryBaseCostInput"></span>
					</span>
				</div>
   				<!-- End Base Cost Field //-->

   				<!-- Markup	//-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field">Markup Percentage:</span>
					<span class=" col-xs-8">
						<input class="bakerySalesMarkupInput salesMarkupInput input" placeholder="$" maxlength="5">
					</span>
				</div>
   				<!-- End Markup Field//-->	
				<br>
				<div class = "bakerySalesBlock">
					<div class = "bakerySalesHanger"></div>
					
				</div>
				
				<br>
   				<div class="modal-footer row">
					<div class = "container-fluid">
						<button type="button" class="mcc-submitButton bakerySalesCalculateBtn floatRight">Calculate Markup</button>
						<button type="button" class="mcc-cancelButton mcc-cancelBakerySalesButton floatRight" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>