<script id = "mcc-ingredient-template" type="text/x-handlebars-template">
{{#each this}}
	<div class="col-xs-12 mcc-ingredient-{{id}} container-fluid mcc-ingredient-container">
    	<div class = "large-element col-xs-12"><span class = "mcc-name-label "></span><span class = "mcc-name-value">{{name}}</span></div>
        <div class = "small-element col-xs-12 mcc-left"><span class = "mcc-unit-label">Unit: </span><span class = "mcc-unit-value">{{unit}}</span></div>
        <div class = "small-element col-xs-12 mcc-left"><span class = "mcc-cost-label">Cost: $</span><span class = "mcc-cost-value">{{cost}}</span></div>
        <div class = "large-element col-xs-12 buttonBlock">
			<button class = "deleteIngredientBtn deleteBtn floatRight" data-id = "{{id}}">	<span class = "glyphicon glyphicon-remove" aria-hidden="true"></span></button>
			<button class = "editIngredientBtn editBtn floatRight" data-id = "{{id}}" data-toggle = "modal" data-target = ".updateIngredientModal"><span class = "glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
		</div>
	</div>
{{/each}}
</script>

<script id = "mcc-bakery-template" type="text/x-handlebars-template">
<div class = "container-fluid">
<div class = "row">
{{#each this}}
	<div class="col-xs-12 col-md-3 mcc-bakery-{{id}} mcc-bakery-block mcc-bakery-container">
	<h4 class = "blockText"><span class = "mcc-name-value mcc-name-value{{id}}">{{name}}</h4></span><br>
    <span class = "mcc-vendor-label">Vendor: </span><span class = "mcc-vendor-value mcc-vendor-value{{id}}">{{vendor}}</span><br>
    <span class = "mcc-vendor-label">Category: </span><span class = "mcc-category-value">{{category}}</span><br>
	<span class = "mcc-vendor-label">Allergens: </span><span class = "mcc-allergen-value">{{allergen}}</span><br>
 	<span class = "mcc-cost-label">Cost: $</span><span class = "mcc-cost-value">{{cost}}</span><br>
	
	<div class = "container-fluid floatRight row bottomRight">
	<button class = "deleteBakeryBtn deleteBtn deleteBakeryItem{{id}} floatRight" data-id = "{{id}}"><span class = "glyphicon glyphicon-remove" aria-hidden="true"></span></button>	
	<button class = "editBakeryBtn editBakeryItem{{id}} editBtn floatRight" data-id = "{{id}}" data-bakery = "{{bakery.id}}" data-toggle = "modal" data-target = ".updateBakeryModal"><span class = "glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
	<button class = "salesBakeryBtn salesBakeryBtn{{id}} okBtn floatRight" data-name = "{{name}}" data-cost ="{{cost}}" data-toggle = "modal" data-target = ".bakerySalesModal"><span class = "glyphicon glyphicon-usd" aria-hidden="true"></span></button>	
	</div>
	</div>
{{/each}}
</div>
</div>
</script>

<script id = "mcc-recipe-template" type="text/x-handlebars-template">
<div class = "container-fluid">
<div class = "row">
{{#each this}}
	<div class="col-xs-12 col-md-3 mcc-recipe-{{id}}  mcc-block-container mcc-recipe-block" data-id = {{id}}>
    <span class = "mcc-name-value"><h4 class = "blockText">{{name}}</h4></span>
	
	<div class = "mcc-center"><h6>
	<span class = "mcc-recipenumber-label" >Recipe: #</span><span class = "mcc-recipenumber-value">{{recipeNumber}}</span><br><br>
	<span class = "mcc-ingredient-label"><br><u>Ingredients</u></span></h6></div>
	<div class = "mcc-ingredients-list-{{id}} mcc-ingredients-list" data-id = {{id}}>
   	{{#ingredients}}
	<div class = "mcc-ingredient-row-{{id}} mcc-ingredient-row" data-cost = {{cost}}>
						<span class = "mcc-recipe-ingredient-{{id}}-value mcc-recipe-ingredient-name-{{id}}">{{name}}</span>
						<span class = "mcc-recipe-ingredient-unit-{{id}}">( {{unit}} )</span>
						<span>$</span><span class = "mcc-recipe-ingredient-cost-{{id}} mcc-ingredient-cost"> {{cost}}  </span><br>
						{{#unless @last}}{{/unless}}
	</div>
	{{/ingredients}}
	</div>
	<br><br>

	<div>
	<span class = "bottom">Total Cost: </span><span class = "mcc-calculate-recipe-total recipe-total-{{id}} cost" data-id = {{id}} data-total = ""></span>
	<br><br>
	</div>


	<div class = "block-footer-row container-fluid floatRight row ">
	<button class = "deleteRecipeBtn deleteRecipe{{id}} deleteBtn floatRight" data-id = "{{id}}"><span class = "glyphicon glyphicon-remove" aria-hidden="true"></span></button>	
	<button class = "editRecipeBtn editRecipe{{id}} editBtn floatRight" data-id = "{{id}}" data-recipe = "{{recipe.id}}" data-toggle = "modal" data-target = ".updateRecipeModal"><span class = "glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
	<button class = "salesRecipeBtn salesRecipeBtn{{id}} okBtn floatRight" data-name = "{{name}}" data-cost ="" data-toggle = "modal" data-target = ".salesModal"><span class = "glyphicon glyphicon-usd" aria-hidden="true"></span></button>
	</div>
	</div>  		
{{/each}}

</div>
</div>
</script>

<script id = "mcc-ingredientlist-template" type="text/x-handlebars-template">
{{#each this}}
  		<div class="col-xs-12 mcc-mcc-ingredientlist-template-{{id}} container-fluid mcc-ingredientlist-container mcc-row-container">
                <div class="row">
						<div class = "large-element col-xs-12"><span class = "mcc-item-label">Item: </span><span class = "mcc-name-value">{{name}}</span></div>
				</div>
        </div>
   {{/each}}
</script>
