<script id="addIngredient-template" type="text/x-handlebars-template">
	<div class="modal fade add{{title}}Modal">
 		<div class="modal-dialog">
			<div class="modal-content container-fluid">
				<div class="modal-header row">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title modalh4">Add New {{title}}</h4>
				</div><br>
   				<!-- Name Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Name:</span>
					<span class=" col-xs-8">
						<input class="new{{title}}NameInput fullWidthInput input" placeholder="name" maxlength="50">
					</span>
				</div>
   				<!-- End Name Field //-->	

 				<!-- Unit Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Unit:</span>
					<span class=" col-xs-8">
						<input class="new{{title}}UnitInput fullWidthInput input" placeholder="unit" maxlength="50">
					</span>
				</div>
   				<!-- End Unit Field //-->	

  				<!-- Cost Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Cost:</span>
					<span class=" col-xs-8">
						<input class="new{{title}}CostInput fullWidthInput input" placeholder="cost" maxlength="50">
					</span>
				</div>
   				<!-- End Cost Field //-->	

				<br><br>
   				<div class="modal-footer row">
					<div class = "container-fluid">
						<p class = "mcc-required floatLeft">* Required</p>
						<button type="button" class="mcc-submitButton addIngredientBtn floatRight">Submit New {{title}}</button>
						&nbsp;&nbsp;&nbsp;
						<button type="button" class="mcc-cancelButton mcc-cancelAdd{{title}}Button floatRight" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>


<script id="updateIngredient-template" type="text/x-handlebars-template">
	<div class="modal fade update{{title}}Modal">
 		<div class="modal-dialog">
			<div class="modal-content container-fluid">
				<div class="modal-header row">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title modalh4">Update {{title}}</h4>
				</div><br>
   				<!-- Name Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Name:</span>
					<span class=" col-xs-8">
						<input class="update{{title}}NameInput fullWidthInput input" placeholder="name" maxlength="50">
					</span>
				</div>
   				<!-- End Name Field //-->	

 				<!-- Unit Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Unit:</span>
					<span class=" col-xs-8">
						<input class="update{{title}}UnitInput fullWidthInput input" placeholder="unit" maxlength="50">
					</span>
				</div>
   				<!-- End Unit Field //-->	

  				<!-- Cost Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>Cost:</span>
					<span class=" col-xs-8">
						<input class="update{{title}}CostInput fullWidthInput input" placeholder="cost" maxlength="50">
					</span>
				</div>
   				<!-- End Cost Field //-->	


				<br><br>
   				<div class="modal-footer row">
					<div class = "container-fluid">
						<p class = "mcc-required floatLeft">* Required</p>
						<button type="button" class="mcc-submitButton updateIngredientBtn floatRight">Update {{title}}</button>
						&nbsp;&nbsp;&nbsp;
						<button type="button" class="mcc-cancelButton mcc-cancelAdd{{title}}Button floatRight" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>