<script id="mcc-navbar-template" type="text/x-handlebars-template">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown ingredients-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ingredients<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="mcc-view-ingredients"><a class = "button mcc-viewIngredientsBtn" href="#">View Ingredients</a></li>
            <li class="mcc-add-ingredients"><a class = "button mcc-addIngredientsBtn" href="#" data-toggle = "modal" data-target = ".addIngredientModal" data-fieldlength = "50">Add Ingredients</a></li>
          </ul>
        </li>

		<li class="dropdown bakery-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bakery<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="mcc-view-bakery"><a class = "button mcc-viewBakeryBtn" href="#">View Bakery Items</a></li>
            <li class="mcc-add-bakery"><a class = "button mcc-addBakeryBtn" href="#" data-toggle = "modal" data-target = ".addBakeryModal" data-fieldlength = "50">Add Bakery Item</a></li>
          </ul>
        </li>
	
		<li class="dropdown recipe-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Recipes<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="mcc-view-recipes"><a class = "button mcc-viewRecipesBtn" href="#">View Recipes</a></li>
            <li class="mcc-add-recipes"><a class = "button mcc-addRecipesBtn" href="#" data-toggle = "modal" data-target = ".addRecipeModal" data-fieldlength = "50">Add Recipe</a></li>
          </ul>
        </li>
		
			<div class ="centerit"><h3> E x p r e s s - O </h3>
					
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</script>
