<script id="addRecipe-template" type="text/x-handlebars-template">
	<div class="modal fade add{{title}}Modal" id = "addRecipeModal">
 		<div class="modal-dialog">
			<div class="modal-content container-fluid">
				<div class="modal-header row">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title modalh4">Add New {{title}}</h4>
				</div><br>
   				<!-- Recipe Number Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-3 field"><p class = "mcc-required">*</p>Recipe #:</span>
					<span class=" col-xs-8">
						<input class="new{{title}}RecipeNumberInput fullWidthInput input" placeholder="recipe number" maxlength="50" pattern="{{namePattern}}">
					</span>
				</div>
   				<!-- End Recipe Number Field //-->	

 				<!-- Name Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-3 field"><p class = "mcc-required">*</p>Name:</span>
					<span class=" col-xs-8">
						<input class="new{{title}}NameInput fullWidthInput input" placeholder="name" maxlength="50" pattern="{{namePattern}}">
					</span>
				</div>
   				<!-- End Name Field //-->	

  				<!-- Ingredient Field //-->
				<br>
				<div class="mcc-modal-body row">
					<span class="col-xs-12 field"><strong>Modify Ingredient List:	</strong></span>
				</div><br>
				<div id = "ingredientHanger" class = "container-fluid ingredientHanger">
					<div class="row col-xs-12 ingredient-row">
						<select id = "ingredientOptions" name = "ingredientSelect"></select>
						<button class = "removeIngredientListBtn deleteBtn"><span class = "glyphicon glyphicon-minus"  aria-hidden="true"></span></button>
						<button class = "addIngredientListBtn okBtn"><span class = "glyphicon glyphicon-plus" aria-hidden="true"></span></button>
					</div>
				</div>	
					<br>
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><strong>Ingredient List:	</strong></span>
				</div><br>
				<div id = "ingredientListHanger" class = "container-fluid ingredientListHanger"></div>	
				<!-- End Ingredient Field //-->	

				<br><br>
   				<div class="modal-footer row">
					<div class = "container-fluid">
						<p class = "mcc-required floatLeft">* Required</p>
						<button type="button" class="mcc-submitButton newRecipeBtn floatRight">Submit New {{title}}</button>
						&nbsp;&nbsp;&nbsp;
						<button type="button" class="mcc-cancelButton mcc-cancelAdd{{title}}Button floatRight" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>


<script id="updateRecipe-template" type="text/x-handlebars-template">
	<div class="modal fade update{{title}}Modal">
 		<div class="modal-dialog">
			<div class="modal-content container-fluid">
				<div class="modal-header row">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title modalh4">Update {{title}}</h4>
				</div><br>
   				<!-- RecipeNumber Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>{{title}} Number:</span>
					<span class=" col-xs-8">
						<input class="update{{title}}RecipeNumberInput fullWidthInput input" placeholder="recipe number" maxlength="50" pattern="{{recipeNumberPattern}}">
					</span>
				</div>
   				<!-- End RecipeNumber Field //-->	

 				<!-- Name Field //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><p class = "mcc-required">*</p>{{title}} Name:</span>
					<span class=" col-xs-8">
						<input class="update{{title}}NameInput fullWidthInput input" placeholder="name" maxlength="50" pattern="{{namePattern}}">
					</span>
				</div>
   				<!-- End Name Field //-->	

  				<!-- Ingredient Field //-->				
				<br>
				<div class="mcc-modal-body row">
					<span class="col-xs-12 field"><strong>Modify Ingredient List:	</strong></span>
				</div><br>
				<div id = "updateIngredientHanger" class = "container-fluid updateIngredientHanger">
					<div class="row col-xs-12 ingredient-row">
					<select id = "updateIngredientOptions" name = "updateIngredientSelect"></select>
							<button class = "updateRemoveIngredientListBtn deleteBtn"><span class = "glyphicon glyphicon-minus"  aria-hidden="true"></span></button>
							<button class = "updateAddIngredientListBtn okBtn"><span class = "glyphicon glyphicon-plus" aria-hidden="true"></span></button>
					</div>
				</div>	
					<br>
				<div class="mcc-modal-body row">
					<span class="col-xs-4 field"><strong>Ingredient List:	</strong></span>
				</div><br>
				<div id = "updateIngredientListHanger" class = "container-fluid updateIngredientListHanger">

				</div>	
			
   				<!-- End Ingredient Field //-->	

				<br><br>
   				<div class="modal-footer row">
					<div class = "container-fluid">
						<p class = "mcc-required floatLeft">* Required</p>
						<button type="button" class="mcc-submitButton updateRecipeBtn floatRight">Update {{title}}</button>
						&nbsp;&nbsp;&nbsp;
						<button type="button" class="mcc-cancelButton mcc-cancelAdd{{title}}Button floatRight" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="salesRecipe-template" type="text/x-handlebars-template">
<div class="modal fade salesModal">
 		<div class="modal-dialog">
			<div class="modal-content container-fluid">
				<div class="modal-header row">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title modalh4">Sales Markup</h4>
				</div><br>

			
				<h5 class="sale-title"></h5>

   				<!-- Base Cost //-->
				<div class="mcc-modal-body row">
					<span class="col-xs-3 field">Base Cost:</span>
					<span class=" col-xs-8">
						<span>$</span><span class="baseCostInput"></span>
					</span>
				</div>
   				<!-- End Base Cost Field //-->

   				<!-- Markup	//-->
				<div class="mcc-modal-body row">
					<span class="col-xs-3 field">Markup %:</span>
					<span class=" col-xs-8">
						<input class="salesMarkupInput fullWidthInput input" placeholder="%" maxlength="50">
					</span>
				</div>
   				<!-- End Markup Field //-->	
				<br>
				<div class = "bakerySalesBlock">
					<div class = "salesHanger"></div>
				</div>
				
				<br>

   				<div class="modal-footer row">
					<div class = "container-fluid">
						<button type="button" class="mcc-submitButton recipeSalesCalculateBtn floatRight">Calculate Markup</button>
						<button type="button" class="mcc-cancelButton mcc-cancelRecipeSalesButton floatRight" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>